<%= link_to 'ホーム', tweets_path,{ :class => "header_btn" } %>
<%= link_to 'モーメント', 'hoge',{ :class => "header_btn" } %>
<%= link_to '通知', 'null',{ :class => "header_btn" } %>
<%= link_to 'メッセージ', 'fuga',{ :class => "header_btn" } %>

