
<% flash.each do |type, msg| %>
<%= msg %>
<% end %>
<%= render "tweetbtn" %>

<div id="timeline">
<table border="1">

<% @tweets.each do |tweet| %>
<tr>
  <td height="100"><img src="noimage.png", class="img_icon"><h3>username</h3><h5>@username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= ((Time.current - tweet.tdate)/60).to_i %>分前</h5><%= link_to tweet.messeage, tweet_path(tweet.id) %></td>
</tr>
<tr>
  <td align="right">
  <%= link_to '編集', edit_tweet_path(tweet.id) %>
  <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
  </td>
</tr>
<% end %>
</table>
</div>