<% if @tweet.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
    <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>
<%= form_for @tweet, url: {action: :create} do|f| %>
  <%= render "form", f: f %>
<% end %>