.tweet_btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: bold;
    text-decoration: none;
    background: #42b2f2;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    float: right;
}

.tweet_btn:activate {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}

.header_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #42b2f2;
    border-radius: 3px;
    transition: .4s;
    font-size: 1.4em;

}

.header_btn:hover {
    border-bottom: solid #42b2f2;
    color: #42b2f2;
}

.img_icon {
    width: 80px;
    height: 80px;
    float: left;
}

#container {
    width: 1000px;
    height: 1200px;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

#header {
    width: 650px;
    float: right;
    top: 0;
}

#sidebar {
    width: 300px;
    height: 500px;
    float: left;
}

h3 {
    float: left;
}

h4 {
    color: #696969;
}

#userintro {
    height: 250px;
}

#content {
    width: 650px;
    height: 1000px;
    float: right;

}


#table {
    border: none;
    width: 500px;
    height: 300px;
    overflow: scroll;
}


#footer {
    position: fixed;
    width: 1000px;
    text-align: center;
    clear: none;
    bottom: 0;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
